.darshan-mishra {
    margin: 0;
    height: 104px;
    flex: 1;
    position: relative;
    font-size: inherit;
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    font-family: inherit;
    max-width: 100%;
  }
  .darshan-mishra-wrapper {
    width: 603px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini);
  }
  .darshan-mishra-wrapper,
  .frame-child,
  .main-inner {
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-black);
  }
  .main-inner {
    width: 588.5px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm) 39px var(--padding-mini);
    margin-top: -14px;
  }
  .ph-no8247292356 {
    width: 301px;
  }
  .emailmishradarshan22gmailco,
  .my-goal,
  .ph-no8247292356 {
    position: relative;
    display: inline-block;
    font-weight: 600;
  }
  .emailmishradarshan22gmailco {
    width: 393px;
    white-space: nowrap;
    max-width: 100%;
  }
  .my-goal {
    margin: 0;
    align-self: stretch;
    height: 104px;
    font-size: inherit;
    font-style: italic;
    font-family: inherit;
    flex-shrink: 0;
  }
  .frame-item,
  .my-goal-parent {
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    width: 559.5px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-black);
    margin-top: -16px;
  }
  .my-goal-parent {
    width: 573px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 4px;
    min-height: 108px;
    font-size: var(--font-size-43xl);
  }
  .i-want-to {
    flex: 1;
    position: relative;
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
  }
  .i-want-to-be-an-aspiring-web-d-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 8px;
    box-sizing: border-box;
  }
  .frame-wrapper,
  .i-want-to-be-an-aspiring-web-d-wrapper,
  .ph-no8247292356-parent,
  .skillset-wrapper,
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .ph-no8247292356-parent {
    flex: 1;
    flex-direction: column;
    gap: 9px;
  }
  .frame-wrapper,
  .skillset-wrapper,
  .wrapper {
    width: 750px;
    flex-direction: row;
    padding: 0 var(--padding-mini);
    box-sizing: border-box;
  }
  .skillset-wrapper,
  .wrapper {
    width: 601px;
    padding: 0 var(--padding-sm);
  }
  .wrapper {
    width: 586.5px;
    height: 1px;
    padding: 0 var(--padding-smi) 0 var(--padding-sm);
  }
  .uiux {
    flex: 1;
    position: relative;
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
    z-index: 1;
  }
  .uiux-wrapper {
    width: 740px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-sm);
    box-sizing: border-box;
    max-width: 100%;
  }
  .academic-qualifications {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-43xl);
    font-style: italic;
    font-weight: 600;
    font-family: inherit;
  }
  .frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-inner {
    width: 852px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-div {
    align-self: stretch;
    flex-direction: column;
    gap: 12px;
    margin-top: -13px;
    font-size: var(--font-size-xl);
  }
  .frame-container,
  .frame-div,
  .frame-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
  }
  .frame-container {
    width: 994px;
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    font-size: var(--font-size-43xl);
  }
  .rectangle-div {
    height: 325px;
    width: 1048px;
    position: relative;
    border-radius: var(--br-21xl);
    background-color: var(--color-gainsboro);
    display: none;
    max-width: 100%;
  }
  .academic-year {
    align-self: stretch;
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .academic-year-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 17px;
  }
  .year-value {
    flex: 1;
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .skillset-items-parent,
  .skillset-items3,
  .year-value-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .year-value-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-11xs);
  }
  .skillset-items-parent,
  .skillset-items3 {
    flex-direction: column;
  }
  .skillset-items3 {
    align-self: stretch;
    gap: 25px;
  }
  .skillset-items-parent {
    width: 231px;
    gap: 32px;
  }
  .academic-qualification1 {
    height: 30px;
    flex: 1;
    position: relative;
    display: inline-block;
    font-weight: 600;
    max-width: 100%;
  }
  .academic-qualification {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    z-index: 1;
  }
  .academic-qualification-parent {
    align-self: stretch;
    gap: 24px;
  }
  .academic-qualification-parent,
  .frame-parent3,
  .frame-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent3 {
    align-self: stretch;
    gap: 29px;
  }
  .frame-wrapper1 {
    width: 323px;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .academic-qualification3 {
    height: 30px;
    flex: 1;
    position: relative;
    display: inline-block;
    font-weight: 600;
  }
  .academic-qualification2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .academic-qualification-group,
  .frame-parent4 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .academic-qualification-group {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 23px;
  }
  .frame-parent4 {
    align-self: stretch;
    gap: 38px;
  }
  .frame-parent2,
  .frame-parent4,
  .frame-wrapper2 {
    display: flex;
    align-items: flex-start;
  }
  .frame-wrapper2 {
    width: 119px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .frame-parent2 {
    width: 927px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: 20px;
  }
  .rectangle-parent {
    align-self: stretch;
    border-radius: var(--br-21xl);
    background-color: var(--color-gainsboro);
    flex-direction: row;
    padding: var(--padding-smi) 21px 82px;
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-7xl);
  }
  .display,
  .frame-parent,
  .main,
  .rectangle-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    width: 1048px;
    flex-direction: column;
    gap: 26.5px;
    max-width: 100%;
    margin-top: -14px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .display,
  .main {
    overflow: hidden;
  }
  .main {
    flex: 1;
    background: linear-gradient(180.83deg, #c6bcbc, #605b5b);
    flex-direction: column;
    padding: 145px 89px 402px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-43xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .display {
    width: 100%;
    position: relative;
    background-color: #fff;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .main {
      padding: 94px 44px 261px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .academic-qualifications,
    .darshan-mishra,
    .my-goal {
      font-size: var(--font-size-31xl);
    }
    .frame-parent2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .main {
      padding: 61px 22px 170px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .darshan-mishra {
      font-size: var(--font-size-18xl);
    }
    .emailmishradarshan22gmailco,
    .ph-no8247292356 {
      font-size: var(--font-size-base);
    }
    .my-goal {
      font-size: var(--font-size-18xl);
    }
    .i-want-to,
    .uiux {
      font-size: var(--font-size-base);
    }
    .academic-qualifications {
      font-size: var(--font-size-18xl);
    }
    .academic-qualification1,
    .academic-qualification3,
    .academic-year,
    .year-value {
      font-size: var(--font-size-2xl);
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #9c9696;
}
th, td {
    padding: 8px;
    text-align: center;
}
.section {
    margin-bottom: 20px;
}
.timetable th {
    background-color: #545050;
}